.barbershops_container{
    position: relative;
    width: 100%;
    height: auto;
    background-color: blue;
    padding: 5px 0;
    overflow-y: auto;
    color: white;
    font-family: Roboto;
    scrollbar-width: none;
}
