.barbershopsicons_container{
    width: 70%;
    height: 40vh;
    margin: auto;
    margin-top: 5vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.image_icon_barbershop_container{
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: yellowgreen;
}

.text_icon_barbershop_container{
    width: 100%;
    height: 40%;
    background-color: #424242;
    border-radius: 0px 0px 15px 15px;
}