.barbershopsicons_container{
    width: 70%;
    height: 40vh;
    margin: auto;
    margin-top: 5vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.image_icon_barbershop_container{
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.image_icon_barbershop_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.text_icon_barbershop_container{
    width: 100%;
    height: 40%;
    background-color: #424242;
    border-radius: 0px 0px 15px 15px;
}

.text_icon_barbershop_container h4{
    margin-left: 0.8vw;
    margin-top: 2vh;
}

.text_icon_barbershop_container p{
    margin-left: 0.8vw;
    margin-top: 2vh;
    font-size: 2.3vh;
    color: #9d9d9d;
}