.header_container{
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    color: White;
}

.header_container h2{
    position: relative;
    margin: auto;
}

.arrow_back_page{
    position: absolute;
    width: 10%;
    height: 100%;
    cursor: pointer;
}

.arrow_back_page img{
    width: 50%;
    height: 100%;
}

/* .arrow_back_page img:hover{
    background-color: #444444;
    transition: 0.2s;
    border-radius: 90px;
} */


@media (max-width: 768px) {
   .arrow_back_page img{
    width: 100%;
    height: 100%;
}
}
