.container {
    margin: auto;
    width: 40vw;
    height: 100%;
    background: #2e2e2e;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Roboto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 25px;
}

.services {
    display: flex;
    gap: 10px;
}

.option {
    background: #525252;
    border-radius: 10px;
    border: 2px solid transparent;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.active {
    border-color: #c8a009;
}

/* BARBEIROS */

.barberGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.barberCard {
    background: #3b3b3b;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid transparent;
    cursor: pointer;
}

.barberCard.selected {
    border-color: #c8a009;
}

.barberCard img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    margin-top: 10px;
    font-size: 1.1rem;
}

.status {
    font-size: 0.9rem;
}

.available {
    color: #c8a009;
}

.busy {
    color: #cd3a3a;
}

/* HORÁRIOS */

.timesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.time {
    background: #5a5a5a;
    padding: 12px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.activeTime {
    background: #c8a009;
}

/* BOTÃO FINAL */

.confirmButton {
    width: 100%;
    padding: 18px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background: #c8a009;
    margin-top: auto;
    cursor: pointer;
    transition: 0.2s;
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}