.MenuNavBar_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #424242;
    color: #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
