.homepage_container{
    position: relative;
    display:flex;
    margin: auto;
    background-color: aqua;
    width: 40vw;
    height: 100%;
}


@media screen and (max-width: 767px) {

    body{
        width: 100%;
        height: 100%;
    }
    .homepage_container{
        width: 100%;
        height: 100%;
    }
}