.LoginPage_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 100vh;
    margin: auto;
}

.logo_container{
  background-color: white;
  width: 160px;
  height: 160px;
  border-radius: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.title_login{
  font-family: Roboto;
  font-size: 6vh;
  color: #FFF;
  font-weight: bold;
  margin-top: 2vh;
}

.content_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginPage_container h3{
    color: #FFF;
    font-family: Roboto;
}

