.SignInPage_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 100vh;

}

.SignInPage_title_container{
    position: relative;
    width: 100%;
    height: 8vh;
    /* background-color: aqua; */
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SignInPage_title_container h3{
    color: white;
    font-family: Roboto;
}

.arrow_container{
    position: absolute;
    height: 100%;
    width: 10%;
    z-index: 1;
    left: 0;
    cursor: pointer;
}

.arrow_container img{
    width: 100%;
    height: 100%;
}