.search_bar_container{
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search_bar_container input{
    width: 60%;
    height: 6vh;
    border-radius: 0px 10px 10px 0px;
    background-color: #424242;
    padding-left: 15px;
}

.search_bar_container div{
    width: 7%;
    height: 6vh;
    border-radius: 10px 0px 0px 10px;
    background-color: #424242;
}

.search_bar_container img{
    width: 100%;
    height: 100%;
}