.Carousel_barbershops_container{
    position: relative;
    width: 100%;
    height: 25vh;
    background-color: yellow;
    margin-top: 5px;
}

.icons_container{
    width: 28%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icon_barbershop_image_container{
    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 50px;
}