.navbar_container{
    width: 100%;
    height: 8vh;
    background-color: brown;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    color: white;
    font-family: Roboto;
}

.navbar_container button{
    background: none;
    cursor: pointer;
}

.navbar_container img{
    height: 100%;
    width: 40px;
}