.navbar_container{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Roboto;
}

.navbar_container div{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar_container button{
    background: none;
    cursor: pointer;
}

.navbar_container img{
    height: 100%;
    width: 40px;
}