.search_bar_container{
    width: 100%;
    height: 10vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_bar_container input{
    
}

.search_bar_container div{

}